.start {
    background-color: green;
}

.end {
    background-color: red;
}

.wall {
    background-color: rgb(46, 46, 46);
}

.explored {
    background-color: yellow;
}

.cell {
    border: 1px solid #1c1c1c4a;
    width: 25px;
    height: 25px;
  }
  