<div class="mode">
  {{ mode$ | async }}
</div>
<div class="mode">
  <button mat-raised-button color="primary" (click)="startPathFinding()" [disabled]="(isPathFindingInProgress$ | async)">Start</button>
  <button mat-raised-button color="primary" (click)="clearGrid()" [disabled]="(isPathFindingInProgress$ | async)">Clear</button>
  <button mat-raised-button color="primary" (click)="onCancel()" [disabled]="!(isPathFindingInProgress$ | async)">Cancel</button>
</div>

<ng-container *ngIf="grid$ | async as grid">
  <div class="grid" *ngIf="grid.length > 0">
    <div class="row" *ngFor="let row of grid; let rowIndex = index; trackBy:trackByArray">
      <app-node *ngFor="let col of row; let colIndex = index; trackBy:trackBy" [node]="grid[rowIndex][colIndex]"
        (cellNodeClicked)="onCellNodeClicked($event)"></app-node>
    </div>
  </div>
</ng-container>
